<div>
	<h2>
		{{totalItems}} <span translate="user-management.home.title">Users</span>
	</h2>
	<jh-alert></jh-alert>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" ui-sref="user-management.new">
					<span class="glyphicon glyphicon-flash"></span> <span
						translate="user-management.home.createLabel">Create a new
						User</span>
				</button>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th translate="user-management.login">Login</th>
					<th translate="user-management.email">Email</th>
					<th translate="user-management.firstName">First</th>
					<th translate="user-management.lastName">Last</th>
					<th></th>
					<th translate="user-management.profiles">Profiles</th>
					<th translate="user-management.createdDate">CreatedDate</th>
					<th translate="user-management.lastModifiedBy">LastModifiedBy</th>
					<th translate="user-management.lastModifiedDate">LastModifiedDate</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="user in users track by user.id ">
					<td class="text-right">
						<button type="submit" title="view"
							ui-sref="user-management-detail({login:user.login})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
						<button type="submit" title="edit"
							ui-sref="user-management.edit({login:user.login})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="submit" title="delete"
							ui-sref="user-management.delete({login:user.login})"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove-circle"></span>
						</button>
					</td>
					<td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>

					<td><a ui-sref="user-management-detail({login:user.login})">{{user.login}}</a></td>
					<td title="{{user.email}}">{{ user.email| limitTo: 16
						}}{{user.email.length > 16 ? '...' : ''}}</td>
					<td title="{{user.firstName}}">{{ user.firstName| limitTo: 16
						}}{{user.firstName.length > 16 ? '...' : ''}}</td>
					<td title="{{user.lastName}}">{{ user.lastName| limitTo: 16
						}}{{user.lastName.length > 16 ? '...' : ''}}</td>
					<td><span class="label label-danger" ng-show="!user.activated"
						translate="user-management.deactivated">Desactivated</span> <span
						class="label label-success" ng-show="user.activated"
						translate="user-management.activated">Activated</span></td>
					<td>
						<div ng-repeat="authority in user.authorities">
							<span class="label label-info">{{ authority }}</span>
						</div>
					</td>
					<td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
					<td>{{user.lastModifiedBy}}</td>
					<td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<uib-pagination class="pagination-sm" total-items="totalItems"
			ng-model="page" ng-change="loadAll()"></uib-pagination>
	</div>
</div>
